@media (min-width:1024px){
  #container #contents > .section {
    /* max-width: 1420px; */
    max-width: none;
    /* width: 92%; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
